
<% include ./partials/header %>

<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h4 class="text-center">Login or signup with your Google account</h4>
        <div class="text-center social-btn">
			<a href="/auth/google" class="btn btn-danger"><i class="fa fa-google"></i>&nbsp; Google</a>
        </div>
    </form>
</div>
                         